* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  border: 2px solid green;
}
#root {
  min-width: 375px;
  height: 667px;
  position: relative;
  /* margin: 0 auto; */
  padding: 0;
  /* text-align: center; */
  background-image: url(/src/assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid red;
  /* color: white; */

}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: (10, 10, 10, 0.5);
  z-index: 2;
  border: 2px solid yellow;

}
