* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  border: 2px solid green;
}
#root {
  min-width: 375px;
  height: 667px;
  position: relative;
  margin: 0 auto;
  padding: 2em;
  /* text-align: center; */
  background-image: url(/src/assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  color: white;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 40%;
  z-index: 20;
 /* border: 2px solid yellow; */

}
.quote-wrapper {
  padding: 1.5em;
  display: flex;
  /* flex-direction: row-reverse; */
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */

}
.quote-content {
  width: 95%;
  /* border: 1px solid green; */
}
.quote-text {
  font-size: .7em;
  line-height: 1.8em;
  padding-right: .5em;
}
.author {
  font-size: .7em;
  font-weight: 700;
  margin-top: 1.7em;
}