* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* body {
  margin: 0 auto;
  border: 2px solid green;
  max-height: 768px;
} */
#root {
  width: 100%;
  height: 100vh;
  /* max-height: 768px; */
  min-height: 100vh;
  margin: 0 auto;
  border: 2px solid blue;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.display-evening {
  background-image: url(/src/assets/mobile/bg-image-nighttime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 90%; */
  /* min-width: 375px; */
  /* min-height: 667px; */

}
/* @media screen and (max-width: 374px) {
  .display-morning {
    background-image: url(/src/assets/mobile/bg-image-daytime.jpg);
  }
} */
.display-morning {
  background-image: url(/src/assets/mobile/bg-image-daytime.jpg);
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  /* min-width: 375px; */
  /* min-height: 667px; */
  height: auto;
  min-height: 100vh;
  /* opacity: 90%; */
  /* z-index: 1; */
}
@media (376px <= width <= 764px) {
  .display-evening {
    background-image: url(/src/assets/tablet/bg-image-nighttime.jpg);
    
  }
  .display-morning {
    /* background-color: black; */
    background-image: url(/src/assets/tablet/bg-image-daytime.jpg);
    border: 4px solid green;
    /* min-height: 768px; */
  }
}
.main-content-container {
  border: 2px solid red;
  width: 100%;
  height: auto;
  /* min-height: 667px; */
  /* height: 100vh; */
  /* z-index: 30; */

}
.quote-wrapper {
  /* padding: 1.5em; */
  display: flex;
  /* flex-direction: row-reverse; */
  /* width: 375px; */
  margin-left: 1em;
  margin-right: auto;
  margin-top: 2em;
  gap: 1em;
  /* border: 2px solid red; */

}
.quote-content {
  width: 90%;
  /* border: 1px solid green; */
  margin-bottom: 4em;
}
.quote-text {
  font-size: .7em;
  line-height: 1.8em;
  padding-right: .5em;
}
.author {
  font-size: .7em;
  font-weight: 700;
  margin-top: 1.7em;
}
.greating-container {
  margin-left: 1em;
  margin-top: 6em;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: .7em;
}
.greating {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 200;
}
.greating > span {
  visibility: hidden;
  padding: 0;
  margin: 0;
}
.time-container {
  margin-left: 1em;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  /* width: 20em; */
  gap: 1em;
  /* border: 2px solid yellow; */
}
.time-content {
  font-size: 6em;
  font-weight: 600;
  /* width: 80%; */
  /* border: 2px solid red; */
}
.abbr {
  /* border: 2px solid green; */
  text-align: center;
  padding-top: 5.7em;
  font-size: 1em;
  font-weight: 300;
  
}
.location-container {
  margin-left: 1em;
}
.location-city {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;

}

.btn-more {
  width: 115px;
  height: 42px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  padding-left: 0.9em;
  padding-top: 0.1em;
  margin-left: 1em;
  margin-top: 4em;
  margin-bottom: 2em;
  /* padding-right: auto; */
  justify-content: space-around;

}
.btn-svg circle {
  fill: #303030;

}
.expand-content {
  background-color: green;
  /* height: 256px; */
}
.expand-content > p {
  color: black;
}
.morning {
  background-color: #979797;
  opacity: 70%;
}
.evening > p {
  color: white;
}